@model IPBag.Models.IndexIPAddressModel

    <div>
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            <h1>New IPv4 addresses</h1>
            <p>5 new IPv4 addresses have been added to you. These addresses are available for the next 3 months, but you can also change the validity date yourself by selecting "Edit" in the IPv4 list.</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>